<div class="thrush-header">        
  <a class="unhinted-link" href="/">
    <div class="thrush-logo">
      <h1>Thrush</h1>
      <img src="../assets/images/thrush_logo.svg"/>
    </div>
  </a>

  <div class="thrush-menu-bar">
    <app-ui-region region="menubar"></app-ui-region>
  </div>
  
  <div class="spacer"></div>
  <div><a href="/dragons">Here Be Dragons</a></div>
</div>


<mat-toolbar class="thrush-tool-bar">
  <app-ui-region region="toolbar"></app-ui-region>
</mat-toolbar>

<div class="thrush-main-content">
  <router-outlet></router-outlet>  
</div>

<!--<div class="thrush-status-bar">
  statusbar
</div>-->
