:host  {
  height: 100%;
  display: flex;
  flex-direction: column;

  & mat-drawer-container {
    height: 100%;
    flex-grow: 1;
  }
}


.thrush-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  height: 4rem;
  border-bottom: solid 1px #dedede;

  flex-shrink: 0;
  flex-grow: 0;

  & h1 {
    padding: 1rem 1rem;
    font-size: 2.5rem;
    margin: 0;
    font-weight: 100;
  }

  & img {
    height: 3rem;
    opacity: 0.6;
  }

  & .spacer {
    flex-grow: 1;
  }
}

.thrush-menu-bar {
  padding: 0 0rem;

  button {
    min-width: 0;
    padding: 0 1rem;
    font-size: 10pt;
  }
}


.thrush-main-content { 
  height: 100%;
  overflow-y: hidden;
  app-project-editor {
    height: 100%;
  }
}

.thrush-status-bar {

}

nav {
  display: flex;
  flex-direction: column;
  min-width: 16rem;

  & a {
    padding: 1rem;
    border-bottom: solid 1px silver;
    text-decoration: none;

    &:hover {
      background: #f8f8ff;
    }

    &.active-link {
      background: #f0f0ff;
    }
  }
}