<app-waveform-editor 
  [editedWaveform]="editedWaveform" 
  [displayStartTime]="displayStartTime"
  [displayEndTime]="displayEndTime"
  [(selectionStartTime)]="selectionStartTime"
  [(selectionEndTime)]="selectionEndTime"
  [(loopStartTime)]="loopStartTime"
  [(loopEndTime)]="loopEndTime"  
  ></app-waveform-editor>

  <app-envelope-editor 
    [editedEnvelope]="editedEnvelope"
    [displayStartTime]="displayStartTime"
    [displayEndTime]="displayEndTime" 
  ></app-envelope-editor>

  
  <div class="controls">
    <button mat-stroked-button (click)="handleZoomOutClick()">
      <mat-icon>zoom_out</mat-icon>      
    </button>  
    <button mat-stroked-button (click)="handleZoomInClick()">
      <mat-icon>zoom_in</mat-icon>  
    </button>
    <button mat-stroked-button (click)="handleZoomToSelectionClick()">
      <mat-icon>crop_free</mat-icon>  
    </button>
  
    <button mat-stroked-button (click)="handleSetLoopToSelection()">
      <mat-icon>repeat</mat-icon>  
    </button>
  </div>

  <div>
    Selection: <span>{{selectionStartTime}} -- {{selectionEndTime}}</span>
  </div>
  <div>
    Loop: <span>{{loopStartTime}} -- {{loopEndTime}}</span>
  </div>
  