<app-ui-region-content region="toolbar">
  <button mat-icon-button (click)="handlePreviewStart()">
    <mat-icon>play_arrow</mat-icon>
  </button>

  <button mat-icon-button (click)="handlePreviewStop()">
    <mat-icon>stop</mat-icon>
  </button>

  <div class="spacer"></div>

  <button mat-icon-button (click)="handleImportRequest()">
    <mat-icon>upload</mat-icon>
  </button>


  <button mat-icon-button (click)="handleZoomOutClick()">
    <mat-icon>zoom_out</mat-icon>
  </button>
  <button mat-icon-button (click)="handleZoomInClick()">
    <mat-icon>zoom_in</mat-icon>
  </button>
  <button mat-icon-button (click)="handleZoomToSelectionClick()">
    <mat-icon>crop_free</mat-icon>
  </button>

  <div class="spacer"></div>

  <button mat-icon-button (click)="handleTrimRequest()" [disabled]="selectionStartTime == null || selectionEndTime == null">
    <mat-icon>crop</mat-icon>
  </button>

  <div class="spacer"></div>
  
  <mat-icon>select</mat-icon>
  <input type="number" class="cursor-input" [(ngModel)]="selectionStartTime" />s
  - <input type="number" class="cursor-input" [(ngModel)]="selectionEndTime" />s

  <div class="spacer"></div>

  <button mat-icon-button (click)="handleSetLoopToSelection()">
    <mat-icon>repeat</mat-icon>
  </button>
  <input type="number" class="cursor-input" [(ngModel)]="loopStartTime" />s -
  <input type="number" class="cursor-input" [(ngModel)]="loopEndTime" />s

  <div class="spacer"></div>

</app-ui-region-content>

<div class="waveform-editor-heading">
  <div class="tab">Waveform</div>
</div>

<app-waveform-editor
  [editedWaveform]="editedWaveform"
  [displayStartTime]="displayStartTime"
  [displayEndTime]="displayEndTime"
  [(selectionStartTime)]="selectionStartTime"
  [(selectionEndTime)]="selectionEndTime"
  [(loopStartTime)]="loopStartTime"
  [(loopEndTime)]="loopEndTime"
  [playbackTime]="playbackTime"
></app-waveform-editor>

<div class="waveform-editor-heading wavetable-editor-themed">
  <div>Attack:</div>

  <mat-button-toggle-group>
    <mat-button-toggle value="bold">VOLUME</mat-button-toggle>
    <mat-button-toggle value="italic">PAN</mat-button-toggle>    
  </mat-button-toggle-group>
</div>
<app-envelope-editor
  [(editedEnvelope)]="editedEntryEnvelope"
  [displayStartTime]="displayStartTime"
  [displayEndTime]="displayEndTime"
></app-envelope-editor>

<div class="waveform-editor-heading wavetable-editor-themed">
  <div>Release:</div>
  <mat-button-toggle-group>
    <mat-button-toggle value="bold">VOLUME</mat-button-toggle>
    <mat-button-toggle value="italic">PAN</mat-button-toggle>    
  </mat-button-toggle-group>
</div>

<app-envelope-editor
  [(editedEnvelope)]="editedExitEnvelope"
  [displayStartTime]="displayStartTime"
  [displayEndTime]="displayEndTime"
></app-envelope-editor>

<input
  id="fileLoadControl"
  type="file"
  (change)="handleLoadSample($event.target!)"
/>
