<div class="vertical-stack">
    <div class="property">
        <div class="property-label">Comb: </div>
        <div class="vertical-stack">
            <div class="horizontal-stack">
                    <div class="reverb-param-table-nr-col">#</div>
                    <div class="reverb-param-table-input-col">Delay</div>
                    <div class="reverb-param-table-input-col">Gain</div>
            </div>
            
            <div class="horizontal-stack" 
                *ngFor="let combValue of filter.combDelays; let index = index">
                <div class="reverb-param-table-nr-col">{{index}}</div>
                <input type="number" class="reverb-param-table-input-col" 
                        [value]="filter.combDelays[index]" (change)="handleCombDelayChange(index, $event)" />
                <input type="number" class="reverb-param-table-input-col" 
                        [value]="filter.combGains[index]" (change)="handleCombGainChange(index, $event)"/>
            </div>
            
        </div>
    </div>

    <div class="property">
        <div class="property-label">Allpass: </div>
        <div class="vertical-stack">
            <div class="horizontal-stack">
                    <div class="reverb-param-table-nr-col">#</div>
                    <div class="reverb-param-table-input-col">Delay</div>
                    <div class="reverb-param-table-input-col">Gain</div>
            </div>
            
            <div class="horizontal-stack" 
                *ngFor="let combValue of filter.allPassDelays; let index = index">
                <div class="reverb-param-table-nr-col">{{index}}</div>
                <input type="number" class="reverb-param-table-input-col" 
                        [value]="filter.allPassDelays[index]" (change)="handleAllPassDelayChange(index, $event)" />
                <input type="number" class="reverb-param-table-input-col" 
                        [value]="filter.allPassGains[index]" (change)="handleAllPassGainChange(index, $event)"/>
            </div>
            
        </div>
    </div>

    <div class="property">
        <div class="property-label">Mix: </div>
        <input type="number" class="param-input spacer" 
                    [value]="filter.mix" (change)="handleFilterMixChange($event)" />
    </div>
</div>