div.sample-id {
  flex-shrink: 0;
  position: relative;
  background: lightblue;
  border-radius: 3px;
  height: 36px;
  width: 36px;  

  & h4 {
    position: absolute;
    bottom: 3px;
    margin: 0;
    line-height: 8px;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  & div {
    text-align: center;
    padding: 3px;
    font-size: 16px;
  }
}

mat-card.sample-card {
  margin-bottom: 1rem;

  & mat-card-title {
    display: flex;
    gap: 6px;
    align-items: center;    

    & h4 {
      margin: 0;
    }
  }
}

div.synth-control {
  display: flex;
  gap: 12px;
  position: absolute; 
  bottom: 48px;
  right: 48px;
}