<as-split direction="vertical" [useTransition]="true">
  <as-split-area [visible]="showInstrumentBindings" [order]="0">
    <div class="pattern-binding-editor">
      <div *ngFor="let boundInstrument of editedResource?.pattern?.defaultInstrumentBindings; let bindingIndex = index"
        class="pattern-binding">
        <div class="pattern-binding-index">{{bindingIndex}}</div>
        {{boundInstrument}}
      </div>
    </div>
  </as-split-area>
  <as-split-area [order]="1">
    <div class="pattern-view">
      <div class="pattern-row pattern-heading-row">
        <div class="pattern-line-heading">#</div>
        <div class="pattern-channel" *ngFor="let channelLabel of channelLabels">{{channelLabel}}</div>      
      </div>
      <div #patternRowsContainer class="pattern-rows-container" (keydown)="handleEditorKeyDown($event)" tabindex="0">      
        <div *ngFor="let row of patternRows; let rowIndex = index" 
          class="pattern-row"
          [attr.data-row-index]="rowIndex"
          [ngClass]="{'selected-row': rowIndex == selectedRow}"
          (click)="handleRowClick(rowIndex)">
      
          <div class="pattern-line-heading">{{rowIndex}}</div>
          
          <div class="pattern-line-channels">
            <div class="pattern-channel"       
              [ngClass]="{'selected-channel': channelIndex == selectedChannel}"
              *ngFor="let rowChannel of row.channelCommands; let channelIndex = index"
              (click)="handleChannelClick(channelIndex)">

              <app-dropdown-note-editor 
                class="note" 
                [noteValue]="rowChannel.note" 
                (noteValueChange)="handleNoteChange(rowIndex, channelIndex, $event)">
              </app-dropdown-note-editor>
              
              <app-dropdown-pattern-instrument-selector
                class="sample"
                [instruments]="editedResource?.pattern?.defaultInstrumentBindings || []"
                [selectedInstrument]="rowChannel.sampleNumber"
                (selectedInstrumentChange)="handleInstrumentChange(rowIndex, channelIndex, $event)">
              </app-dropdown-pattern-instrument-selector>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </as-split-area>
</as-split>

<app-ui-region-content region="toolbar">
  <div class="spacer"></div>

  <button mat-icon-button (click)="showInstrumentBindings = !showInstrumentBindings">
    <mat-icon>list</mat-icon>
  </button>
  </app-ui-region-content>
