.piano-editor-container {
  display: flex;
  align-items: center;

  .piano-rows {
    display: flex;
    flex-direction: column;
  }

  .piano-row {
    display: flex;
  
    width: 240px;
    height: 32px;
  
    .piano-half-key-space {
      flex-basis: 0;
      flex-grow: 0.5;
    }
  
    .piano-full-key {
      display: flex;
      align-items: center;
      justify-content: center;
  
      flex-basis: 0;
      flex-grow: 1;
  
      margin: 2px;
  
      text-align: center;
  
      border: solid 1px #d0d0d0;
      border-radius: 6px;
  
      transition: background-color 0.2s, font-weight 0.2s;
  
      &:hover {
        background-color: #f4f4f4;
        font-weight: 500;
      }
    }

    &.inverted-row .piano-full-key {
      background-color: black;
      color: white;

      &:hover {
        background-color: #f4f4f4;
        font-weight: 500;
        color: black;
      }
    }
  } 

  .icon-button {
    color: #d0d0d0;
    transition: color 0.2s;

    &:hover {
      color: black;
    }
  }
}