<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer mode="side" [opened]="showDrawer">
    <div class="vertical-stack full">
      <div class="resource-list selectable-list">
        <h3>
          Resources
          <button mat-icon-button><mat-icon>plus</mat-icon></button>
        </h3>

        <div class="list-item" [attr.data-active]="activeEditor?.resourceName == resource" *ngFor="let resource of editedProjectResourceNames">
            <a (click)="handleOpenResource(resource)">{{resource}}</a>
        </div>

      </div>
      <div>
        <button mat-button (click)="handleNewWavestrument()">New Wavestrument</button>
        <button mat-button (click)="handleNewScript()">New Script</button>
      </div>
  </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="tabs-and-editor-container">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link *ngFor="let editor of openEditors"
          (click)="activeEditor = editor"
          [active]="activeEditor == editor"> {{editor.title}} {{editor.draftResourceDirty ? "*" :""}} </a>
      </nav>      
      <mat-tab-nav-panel class="thrush-editor-tabs" #tabPanel></mat-tab-nav-panel>
      
      <div #editorHost class="editor-host"></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<app-ui-region-content region="toolbar">
  <button mat-icon-button (click)="toggleResourceList()">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button (click)="handleSaveClicked()" [disabled]="!activeEditor?.draftResourceDirty">
    <mat-icon>save</mat-icon>
  </button>
</app-ui-region-content>
