:host {
  .mat-tab-link {
    min-width: 0;
  }
}

mat-drawer-container {
  height: 100%;
}


.tabs-and-editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.resource-list {
  flex-grow: 1;
  height: 100%;

  h3 {
    margin: 0.5rem;
  }

  .list-item {
    padding: 0.5rem;
  }
}