<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer mode="side" [opened]="showDrawer">
    <div class="vertical-stack full">
      <div class="resource-list selectable-list">
        <h1>
          Resources          
        </h1>

        <div *ngFor="let resource of editedProjectResourceNames"
            class="list-item" 
            [attr.data-active]="activeEditor?.resourceName == resource">
            <input mat-input *ngIf="renamedResourceName == resource" 
                   id="resource-rename-input"
                   [(ngModel)]="renamedResourceNewName" 
                   (keydown.enter)="handleRenameResourceFieldBlurs()"
                   (blur)="handleRenameResourceFieldBlurs()"
                   />
            <div class="horizontal-stack" *ngIf="renamedResourceName !== resource">
              <div class="spacer" (click)="handleOpenResource(resource)">{{resource}}</div>              
              <button mat-icon-button class="item-hover-button" (click)="handleRequestRename(resource)">
                <mat-icon class="small">edit</mat-icon>
              </button>
              <button mat-icon-button class="item-hover-button" (click)="handleRequestDelete(resource)">
                <mat-icon class="small">delete</mat-icon>
              </button>
            </div> 
        </div>

      </div>
  </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="tabs-and-editor-container">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <div mat-tab-link (click)="activeEditor = editor" [active]="activeEditor == editor" *ngFor="let editor of openEditors" class="tab-title">
          <a> {{editor.title}} {{editor.draftResourceDirty ? "*" :""}} </a>
          <button mat-icon-button (click)="handleCloseTab(editor)"><mat-icon>close</mat-icon></button>
        </div>
        
      </nav>      
      <mat-tab-nav-panel class="thrush-editor-tabs" #tabPanel></mat-tab-nav-panel>
      
      <div #editorHost class="editor-host"></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<app-ui-region-content region="toolbar">
  <button mat-icon-button (click)="toggleResourceList()">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="newItemMenu">
    <mat-icon>note_add</mat-icon>
  </button>

  <mat-menu #newItemMenu="matMenu">    
    <button mat-menu-item (click)="handleNewWavestrument()">
      New Wavestrument
    </button>
    <button mat-menu-item (click)="handleNewFmInstrument()">
      New FM Instrument
    </button>
    <button mat-menu-item (click)="handleNewScript()">
      New Script
    </button>
    <button mat-menu-item (click)="handleNewPattern()">
      New Pattern
    </button>
  </mat-menu>


  <button mat-icon-button (click)="handleSaveClicked()" [disabled]="!activeEditor?.draftResourceDirty">
    <mat-icon>save</mat-icon>
  </button>

  <div class="spacer"></div>

  <button mat-icon-button (click)="handlePreviewStart()" [disabled]="!activeEditorSupportsPreview">
    <mat-icon>play_arrow</mat-icon>
  </button>

  <button mat-icon-button (click)="handlePreviewStop()" [disabled]="!playingPreviewStopHandler">
    <mat-icon>stop</mat-icon>
  </button>
</app-ui-region-content>

<app-ui-region-content region="menubar">
  <div class="vertical-stack">
    <div *ngIf="!projectTitleEditing" (click)="projectTitleEditing = true" class="project-title">{{editedProjectTitle}}</div>
    <input mat-input class="project-title" *ngIf="projectTitleEditing" 
                   id="resource-rename-input"
                   [(ngModel)]="editedProjectTitle" 
                   (keydown.enter)="handleRenameProjectBlurs()"
                   (blur)="handleRenameProjectBlurs()"
                   />
    <div class="thrush-menu-bar">
      <button mat-button [matMenuTriggerFor]="fileMenu">File</button>  
      <mat-menu #fileMenu>  
        <button mat-menu-item>New</button>  
        <button mat-menu-item (click)="handleLoadProject()">Open...</button>  
        <button mat-menu-item (click)="handleDownloadProject()">Download project...</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="handleImportModfile()">Import MOD file...</button>
      </mat-menu>  
      <button mat-button [matMenuTriggerFor]="helpMenu">Help</button>  
      <mat-menu #helpMenu>  
        <a href="/td" target="thrush-docs" style="text-decoration: none" mat-menu-item>
          <mat-icon style="vertical-align: middle">help_outline</mat-icon>
          Thrush Docs
        </a>    
      </mat-menu>  
    </div>
  </div>
</app-ui-region-content>