<div class="horizontal-stack full">
  <div class="spacer">    
    <div class="vertical-stack full" *ngIf="editedAlgorithmNode">
      <ng-container *ngIf="editedAlgorithmNode.oscType != 'adder'">
        <div class="waveform-editor-heading">
          <div class="tab">Operator Waveform</div>
        </div>
        
        <app-waveform-editor *ngIf="operatorWaveform" class="spacer"
          [editedWaveform]="operatorWaveform" 
          [(selectionStartTime)]="selectionStartTime"
          [(selectionEndTime)]="selectionEndTime"      
          [displayStartTime]="resultDisplayStartTime" 
          [displayEndTime]="resultDisplayEndTime">

        </app-waveform-editor>    
      </ng-container>

      <div class="waveform-editor-heading">
        <div class="tab">Attack Envelope</div>
      </div>
      <app-envelope-editor
            class="operand-envelope"
            [(editedEnvelope)]="editedAlgorithmNodeAttack"
            [displayStartTime]="resultDisplayStartTime"
            [displayEndTime]="resultDisplayEndTime"
            [assumedStartValue]="1"
      ></app-envelope-editor>


      <div class="waveform-editor-heading">
        <div class="tab">Release Envelope</div>
      </div>
      <app-envelope-editor
        class="operand-envelope"
        [(editedEnvelope)]="editedAlgorithmNodeRelease"
        [displayStartTime]="resultDisplayStartTime"
        [displayEndTime]="resultDisplayEndTime"        
      ></app-envelope-editor>
    </div>
  </div>
  
  <div class="property-pane">
    <h1>Algorithm</h1>
    <div class="algorithm-pane">
      <div class="horizontal-stack full centered algorithm-selector">
        <button mat-icon-button (click)="handlePreviousAlgo()">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <div class="spacer selected-algorithm-title small-header">Algorithm #{{selectedTopologyId}}</div>

        <button mat-icon-button (click)="handleNextAlgo()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

      <app-fm-algorithm-tree-display 
        [rootAlgorithmNode]="editedResource.rootAlgorithmNode"
        [(selectedAlgorithmNodeBookmark)]="selectedAlgorithmNodeBookmark"
        (selectedAlgorithmNodeChange)="handleEditedAlgorithmNodeSelected($event)">
      </app-fm-algorithm-tree-display>
    </div>

    <ng-container *ngIf="editedAlgorithmNode">
      <h1>Operator Parameters</h1>
      
      <ng-container *ngIf="editedAlgorithmNode.oscType != 'adder'">
        <div class="property">
          <div class="property-label">Frequency:</div>        
          <div class="vertical-stack" style="gap: 0.5rem">
            <div>Proportional <mat-slide-toggle [(ngModel)]="editedAlgorithmNodeFreqFixed"></mat-slide-toggle> Fixed</div>
            <div>
              <input type="number" class="param-input spacer" [(ngModel)]="editedAlgorithmNodeFreq" />&nbsp; {{editedAlgorithmNodeFreqFixed ? 'Hz' : 'x Note'}}
            </div>
          </div>
        </div>
        <div class="property">
          <div class="property-label">Feedback:</div>        
          <input type="number" class="param-input spacer" [(ngModel)]="editedAlgorithmNodeFeedback" />
        </div>

      </ng-container>

      <ng-container *ngIf="editedAlgorithmNode.oscType == 'adder'">
        <div class="property">
          This is an adder node. There are no available parameters for this node.
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="editedAlgorithmNode == editedResource.rootAlgorithmNode">
      <h1>Instrument Filters</h1>
      <app-filter-chain-editor [(filterChain)]="editedInstrumentFilters"></app-filter-chain-editor>
    </ng-container>

    <h1>Preview Pane</h1>
    <div class="preview-pane">
      <app-waveform-editor *ngIf="resultWaveform" 
        [editedWaveform]="resultWaveform" 
        [displayStartTime]="resultDisplayStartTime" 
        [displayEndTime]="resultDisplayEndTime">
      </app-waveform-editor>    
    </div>
  </div>
</div>



<app-ui-region-content region="toolbar">

  <div class="spacer"></div>

  <button mat-icon-button (click)="handleZoomOutClick()">
    <mat-icon>zoom_out</mat-icon>
  </button>
  <button mat-icon-button (click)="handleZoomInClick()">
    <mat-icon>zoom_in</mat-icon>
  </button>
  <button mat-icon-button (click)="handleZoomToSelectionClick()">
    <mat-icon>crop_free</mat-icon>
  </button>

</app-ui-region-content>