<div class="vertical-stack">
    <div class="property">
        <div class="property-label">Mix Level: </div>
        <input type="number" class="param-input spacer" [(ngModel)]="chorusMixLevel" />
    </div>

    <div class="property">
        <div class="property-label">Delay: </div>
        <input type="number" class="param-input spacer" [(ngModel)]="chorusDelay" />
        <span>&nbsp;sec</span>
    </div>

    <div class="property">
        <div class="property-label">Vibrato Depth: </div>
        <input type="number" class="param-input spacer" [(ngModel)]="chorusScaling" />
    </div>

    <div class="property">
        <div class="property-label">Vibrato Freq.:</div>
        <input type="number" class="param-input spacer" [(ngModel)]="chorusLfoFrequency" />
        <span>&nbsp;Hz</span>
    </div>
</div>