<div style="display: flex; flex-direction: column; height: 100%; padding: 2rem">
  <div>
    Hard coded code sequence sample file: <input id="samplefile" type="file" (change)="handleLoadSample($event.target)"/>
    <hr/>
  </div>

  <div>
    Amiga .MOD file: 
      <input id="modulefile2" type="file" (change)="handleLoadModule($event.target)"/>
      <input type="radio" id="script" name="method" value="script" [(ngModel)]="synthMode"> Script 
      <input type="radio" id="script" name="method" value="native" [(ngModel)]="synthMode"> Native    
    <hr/>
  </div>
  
  <div>
    <button (click)="handlePlayTest()" [disabled]="!seqContextToPlay || !synthReady">Play</button>
    <button (click)="handleStop()" [disabled]="!seqContextToPlay || !synthReady">Stop</button>      
    Pattern cursor: {{patternCursor}}
    <hr/>
  </div>

  <div>
    <button (click)="runBenchmark()">Run Benchmarks</button>
    <p></p>
    <table *ngIf="benchmarkResults">
      <thead>
        <tr>
          <td>Results</td>
          <td>Mean Time</td>
        </tr>
      </thead>
      <tr *ngFor="let benchmarkResult of benchmarkResults">
        <td>{{benchmarkResult.name}}</td>
        <td>{{(benchmarkResult.stats.mean * 1000).toFixed(3)}}ms</td>
      </tr>
    </table>
    <hr/>
  </div>


  <div>
    <button (click)="computeFm()">Compute FM</button>
    <p></p>
    <app-waveform-editor *ngIf="fmWaveform" style="height: 320px" [editedWaveform]="fmWaveform" [displayStartTime]="0" [displayEndTime]="fmWaveformDuration">

    </app-waveform-editor>    
  </div>

  <!--<app-wave-instrument-editor [editedWaveform]="editedWaveform"></app-wave-instrument-editor>-->

  <app-dropdown-note-editor [(noteValue)]="eNoteValue"></app-dropdown-note-editor>
</div>